@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.magic {
  background-color: #bb86fc;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(187, 134, 252, 0.5);
  z-index: 100;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 1s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
  background-image: url("https://media.tenor.com/9ixBa3bI3tQAAAAC/lolis-feliz.gif");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 1s ease;
}

.box:after {
    content: '';
    background-color: #d7aefb;
    position: absolute;
    top: 8px;
    height: 100%;
    width: 15px;
    right: -15px;
    transform: skewY(45deg);
}

.box:before {
    content: '';
    background-color: #bb86fc;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}

